// width
$tablet-width: 768px;
$desktop-width: 1366px;

// Base Colors
$base: #102654;
$base-white: #ffffff;
$additional: #103aae;
$border: #1c3374;
$border-additional: #000000;
$tab: #d10a42;
$error: #ff121f;
$price-shadow: #e8e8e8;
$input-placeholder: #74819c;

// Background Colors
$background-base: #ffffff;
$background-additional: #f8f9fc;
$background-dark: #102654;
$background-banner: #ed0233;
$background-footer: #030a1a;
$background-block: #1c3374;
