/* GLOBAL */

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/roboto-condensed-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/roboto-condensed-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.container {
  display: block;
  width: 290px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 678px;
    padding: 0 45px;
  }
}

@media (min-width: 1366px) {
  .container {
    width: 1160px;
    padding: 0 103px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTENT */

.page__body {
  background-color: tomato;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #000;
  padding: 0;
  margin: 0;
  min-width: 320px;
}

.projects {
  background-color: #d3c4c4;
}
