/* ------------- */
/* GLOBAL */
/* ------------- */

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/roboto-condensed-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/roboto-condensed-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.container {
  display: block;
  width: 290px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------- */
/* CONTENT */
/* ------------- */

.page__body {
  background-color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #000;
  padding: 0;
  margin: 0;
  min-width: 320px;
}


/* projects */

.projects {
  background-color: #cfcfcf;
  box-shadow: 0 0 20px #808080;
  padding-top: 50px;
  padding-bottom: 50px;
}

.projects__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 30px;
}


/* projects-card */

.projects-card {
  border-bottom: solid 1px #000;
}

.projects-card__link {
  text-decoration: none;
  color: inherit;
}

.projects-card__img {
  display: block;
  width: 290px;
  height: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #82b3d3;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects-card__img--fitness {
  background-image: url(img/fitness.jpg);
}

.projects-card__img--grink {
  background-image: url(img/grink.jpg);
}

.projects-card__img--cat {
  background-image: url(img/cat.jpg);
}

.projects-card__img--sedona {
  background-image: url(img/sedona.jpg);
}


.projects-card__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 5px;
}



@media (min-width: 768px) {
  /* ------------- */
  /* GLOBAL */
  /* ------------- */

  .container {
    width: 678px;
    padding: 0 45px;
  }

  /* ------------- */
  /* CONTENT */
  /* ------------- */


  /* projects */

  .projects {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .projects__list {
    gap: 30px;
    grid-template-columns: 324px 324px;
  }

  /* projects-card */

  .projects-card {
    border: solid 1px #000;
    border-radius: 10px;
    box-shadow: 0 0 20px #808080;
  }

  .projects-card__img {
    margin: 16px auto;
    border-radius: 5px;
  }
}



@media (min-width: 1366px) {
  /* ------------- */
  /* GLOBAL */
  /* ------------- */

  .container {
    width: 1160px;
    padding: 0 103px;
  }

  /* ------------- */
  /* CONTENT */
  /* ------------- */


  /* projects */

  .projects {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .projects__list {
    width: 1050px;
    margin: 0 auto;

    gap: 30px;
    grid-template-columns: 330px 330px 330px;
  }
}
