.control {
  position: relative;
}

.control__btn {
  display: none;
  position: absolute;
  cursor: pointer;
  box-sizing: border-box;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);

  &::before {
    position: absolute;
    content: "";
    width: 23px;
    height: 1px;
    background-color: $base;
    left: 12px;
    top: 18px;
    transform: rotate(-45deg);
  }

  &::after {
    position: absolute;
    content: "";
    width: 23px;
    height: 1px;
    background-color: $base;
    top: 34px;
    left: 12px;
    transform: rotate(45deg);
  }

  &:focus:not(:disabled) {
    border: 1px solid $base;
    background-color: #e8e8e8;
  }

  &:hover:not(:disabled) {
    border: 1px solid $base;
  }

  &:active:not(:disabled) {
    border: 1px solid $base;
    background-color: $base;
  }

  &:active:not(:disabled)::after {
    background-color: $base-white;
  }

  &:active:not(:disabled)::before {
    background-color: $base-white;
  }

  &:disabled {
    border: 1px solid transparent;
    opacity: 0.3;
  }
}

.control__btn--end {
  transform: translateY(-50%) rotate(180deg);
  left: auto;
}


@media (min-width: $tablet-width) {
  .control__btn {
    display: block;
  }

  .control__btn--reviews {
    left: -16px;
  }

  .control__btn--end-reviews {
    right: -16px;
  }

  .control__btn--juri {
    left: -16px;
  }

  .control__btn--end-juri {
    right: -16px;
  }
}

@media (min-width: $desktop-width) {
  .control__btn--reviews {
    left: 227px;
  }

  .control__btn--end-reviews {
    right: 227px;
  }

  .control__btn--juri {
    left: -71px;
  }

  .control__btn--end-juri {
    right: -71px;
  }
}
