.form-contacts-wrapper__form {
  padding-top: 71px;
  padding-bottom: 70px;
  color: $base-white;
  background-color: $base;
}

@media (min-width: $tablet-width) {
  .form-contacts-wrapper__form {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .form-contacts-wrapper {
    background-image: linear-gradient(90deg, $base 50%, $base-white 50%);
  }

  .form-contacts-wrapper__container {
    width: 1160px;
    padding: 0 103px;
    padding-bottom: 1px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-contacts-wrapper__form {
    width: 477px;
    padding-top: 60px;
    padding-bottom: 59px;
  }
}
