.header {
  color: $base-white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 4px;
  margin-bottom: 56px;
}

.header__tel {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 10px 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  border-bottom: 2px solid transparent;

  &:focus:not(.header__tel--disdled) {
    color: $base;
  }

  &:hover:not(.header__tel--disdled) {
    color: rgba($color: $border, $alpha: 0.5);
  }

  &:active:not(.header__tel--disdled) {
    color: $background-footer;
    border-bottom: 2px solid $background-footer;
  }
}

.header__tel--disdled {
  opacity: 0.3;
  cursor: not-allowed;
}

@media (min-width: $tablet-width) {
  .header {
    padding-top: 31px;
    margin-bottom: 27px;
  }

  .header__tel {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: normal;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .header {
    margin-bottom: 57px;
  }

  .header__tel {
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0;
  }
}
